# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
ENV/

# Database
instance/*
!instance/create_siakad_database.sql
*.sqlite3
*.db

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
app/static/uploads/*
!app/static/uploads/.gitkeep
app/static/videos/*
!app/static/videos/.gitkeep
node_modules/
.DS_Store
